<div class="row">
    <partial name="_NavLeft" />
    <div class="col-10 border">
        <h3 class="mt-4">Reports</h3>
        <hr />
        <a class="m-4 d-block" href="/rpt-byteam-day">By Team per Day</a>
        <a class="m-4 d-block" href="/rpt-allteam-day">All Teams per Day</a>
        <a class="m-4 d-block" href="/rpt-company-summary-day">Company Summary</a>

    </div>
</div>