<div class="col-2 border p-4">
    <a class="m-4 d-block" href="/">Dashboard</a>
    <a class="m-4 d-block" href="">Reports</a>
    <a class="m-4 d-block" href="job">Import</a>
    <a class="m-4 d-block" href="/manual">Manually Enter</a>
    <a class="m-4 d-block" href="">Settings</a>
    <a class="m-4 d-block" href="/timecards">Timecards</a>
    <a class="m-4 d-block" href="/addcustomer">Add Customer</a>
    <a class="m-4 d-block" href="/customers">Customers</a>
</div>